# python cache
*.py[oc]
__pycache__/

#venv
predict-server/env/

# IDE files
.vscode/

#db
*.sqlite3

# migrations files
migrations/

# bundles
predict-server/AIPredict/bundles/temp/
/.metadata/

# dockerized spark and cassandra 
docker/spark-cassandra/

# java files

bin/
trash/
target/
.classpath
.project
*/.settings/
*.prefs
*.jar
.settings/
*.iml
*.idea
.metadata/*
*/node_modules/*
vertigo-release/
vertigo-x-release/
mvn-release.txt
createSymLink.bat
.factorypath
node_modules
/vertigo-ui-vuejs/dist



#Custom
.history
